/* You can add global styles to this file, and also import other style files */
body {
   
background: -webkit-linear-gradient(to top, #5AE8BD, #00B4DB); 
background: linear-gradient(to top, #5AE8BD, #00B4DB); 
height: 100vh;

}